body,
html {
    background: transparent;
}

body {
    padding: 80px;
    box-sizing: border-box;
}

.page {
    background: var(--page-background);
    color: var(--tray-text);
    font-family: 'Segoe UI Variable Text', 'Segoe UI';;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 58px);
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid var(--window-border);
    user-select: none;
    overflow: visible;
    text-align: center;
    box-shadow: 0 3px 12px -8px black;
    line-height: 1;
    user-select: none;
    animation: introIn 1s;

    @keyframes introIn {
        0% {
            opacity: 0;
            transform: scale(0.96);
        }

        80% {
            opacity: 0;
            transform: scale(0.96);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}

$margin: 22px;

img {
    width: 84px;
    height: 84px;
    margin: -62px auto 0;
}

.intro-title {
    font-size: 18px;
    font-weight: 700;
    margin: $margin auto 0;
}

p {
    max-width: 320px;
    margin: $margin auto 0;
    font-size: 14px;
    line-height: 20px;
}

video {
    margin: $margin auto 0;
    border: 1px solid rgba(122, 122, 122, 0.25);
}

.button {
    background: var(--window-border);
    border: 2px solid var(--window-border);
    line-height: 0;
    padding: 16px 0px;
    margin: 34px auto 0;
    display: block;
    font-size: 16px;
    width: 200px;
    cursor: pointer;

    &:hover {
        border-color: var(--input-border);
    }
}



// Windows 11 style
body[data-is-win11="true"] {
    .page {
        background-color: var(--page-background);
        border: 1px solid var(--tray-border);
        border-radius: 8px;
        box-shadow: 0 8px 15px -5px rgb(0 0 0 / 75%);
    }
    .button {
        background: var(--button-background);
        color: var(--page-text);
        border-radius: 6px;
        border: 0;
        box-shadow: inset 0 0.25px 0 0.5px var(--button-border), 0 0.5px 1px 0 rgba(0, 0, 0, 0.203);
        &:hover {
            background: var(--button-highlight);
        }
    }
}