//
// Variables
//

:root {
    --system-accent-color: hsl(200, 80%, 83%);
    --system-accent-light: hsl(200, 80%, 83%);
    --system-accent-medium: hsl(200, 81%, 45%);
    --system-accent-dark: hsl(200, 80%, 20%);

    --slider-track-color: #727272;
    --slider-track-color-focus: #A5A5A5;

    
    --tray-background: #e4e4e4;
    --tray-background-transparent: rgba(219, 219, 219, 0.95);
    --tray-background-blur: rgba(219, 219, 219, 0.9);
    --tray-background-blur-start: rgba(219, 219, 219, 1);
    --tray-text: black;
    --tray-border: #aaaaaa;

    --page-background: #ffffff;
    --page-text: #000;
    --page-text-mid: #333;

    --window-border: #ddd;

    --titlebar-icon: #888;
    --titlebar-icon-hover: #000;

    --input-border: #555;
    --input-border-hover: #000;
    --input-active-background: #ddd;


    --slider-track-color: rgba(0, 0, 0, 0.42);
    --slider-track-color-focus: rgba(0, 0, 0, 0.65);


    @media screen and (prefers-color-scheme: dark) {
        --tray-background: #1f1f1f;
        --tray-background-transparent: rgba(41, 41, 41, 0.95);
        --tray-background-blur: rgba(41, 41, 41, 0.88);
        --tray-background-blur-start: rgba(41, 41, 41, 1);
        --tray-text: white;
        --tray-border: #434343;
    
        --page-background: #030303;
        --page-text: #fff;
        --page-text-mid: #bbb;
        
        --window-border: #222;
    
        --titlebar-icon: #888;
        --titlebar-icon-hover: #fff;
    
        --input-border: #6f6f6f;
        --input-border-hover: #fff;
        --input-active-background: #444;
    
        --slider-track-color: rgba(255, 255, 255, 0.42);
        --slider-track-color-focus: rgba(255, 255, 255, 0.65);
    }

}



body[data-transparent="true"][data-acrylic="false"] {
    .window-base {
        --tray-background: var(--tray-background-transparent) !important;
    }
}
body[data-transparent="true"][data-acrylic="true"] {
    .window-base {
        --tray-background: var(--tray-background-blur-start) !important;
    }
}
body[data-transparent="true"][data-acrylic="true"][data-acrylic-show="true"] {
    .window-base {
        background: var(--tray-background-blur) !important;
    }
}
@media screen and (prefers-color-scheme: dark) {
body[data-colored-taskbar="true"] {
    .window-base {
        --tray-background: var(--system-accent-dark) !important;
    }
    &[data-transparent="true"] {
        .window-base {
            --tray-background: var(--system-accent-transparent) !important;
        }
    }
}
}
